<% provide(:title, t(:sign_in)) %>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag sessions_path do %>
      <%= label_tag t(:email_or_username) %>
      <%= text_field_tag :email %>

      <%= label_tag t(:password) %>
      <%= password_field_tag :password %>
      
      <div class="actions">
        <%= submit_tag t(:sign_in), class: "btn btn-large btn-primary" %>
      </div>
    <% end %>

    <p class="pull-left"><%= t(:not_registered_message) %> <%= link_to t(:sign_up), signup_path %></p>
    <p class="pull-right"><%= t(:forgot_password_message) %> <%= link_to t(:reset), new_password_reset_path %></p>
  </div>
</div>
