<div id="post_<%= post.id %>" class="post">
  <%= link_to gravatar_for(post.user, size: 38), post.user %>

  <div class="post_inner">
    <div>
      <% if signed_in? && current_user?(post.user) %>
      <% post_tag_names = post.tags_for_author.map(&:name) %>
      <% post_is_collapsed = (signed_in? && post.is_collapsed_by(current_user)) || post_tag_names.include?("nsfw") || post_tag_names.include?("18+") || post_tag_names.include?("long") || post_tag_names.include?("adult") || post_tag_names.include?("spoiler") %>
      <%= link_to raw('<i class="icon-chevron-' + (post_is_collapsed ? "down" : "up") + '">&nbsp;&nbsp;&nbsp;</i>'), settings_user_path(current_user, collapse_post: (!post_is_collapsed).to_s, post_id: post.id), class: "pull-right", remote: true, method: :post %>
      <%= link_to raw('<i class="icon-pencil">&nbsp;&nbsp;&nbsp;</i>'), edit_post_path(post), class: "pull-right", remote: true %>
      <%= link_to raw('<i class="icon-remove">&nbsp;&nbsp;&nbsp;</i>'), post, class: "pull-right", remote: true, method: :delete, confirm: t(:confirm_delete_message) %>
      <% end %>

      <span>
        <a href="<%= user_path(post.user) %>">
          <span class="user_username"><%= post.user.username %></span>
        </a>
      </span>

      <%= link_to(post, title: post.created_at.to_s(:short), class: "timestamp") do %>
        <time class="timeago" datetime="<%= post.created_at.iso8601 %>">
          <%= t(:posted_message) % { time: time_ago_in_words(post.created_at) } %>
        </time>
      <% end %>
    </div>
    
    <div>
      <span class="title"><%= post.title %></span>

      <% if signed_in? %>
      <div class="pull-right">
        <div class="pull-left tag_list">
          <input id="post_<%= post.id %>_tag_list_text_box" class="pull-left tag_list_textbox" type="text" autocomplete="off" onkeyup="events.tagListTextBoxKeyUp(event, '<%= tags_path %>', <%= post.id %>);" placeholder="<%= t(:tag_list_placeholder_short) %>" />
          <div class="clear"></div>
        </div>

        <div class="pull-left add_tags">
          <i class="icon-plus-sign" id="post_<%= post.id %>_show_add_tags" onclick="utilities.addTags(this, <%= post.id %>, true);"></i>
          <%= link_to raw('<i class="icon-plus-sign"></i>'), post_tags_path(post_id: post.id, add_tags: true), method: :post, remote: true, id: "post_#{post.id}_add_tags", style: "display: none", onclick: "utilities.addTags(this, #{post.id}, false);" %>
        </div>

        <div class="clear"></div>
      </div>
      <% end %>

      <div id="post_<%= post.id %>_tags" class="pull-right tags">
        <% if signed_in? %>
        <%= render partial: "post_tags/post_tag", collection: post.tags_for_user(current_user) %>
        <% else %>
        <%= render partial: "post_tags/post_tag", collection: post.tags_for_author %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="content"><%= format_post(post.content, post_is_collapsed) %></div>
</div>
