<div id="post_<%= post.id %>" class="post">
  <%= link_to gravatar_for(post.user, size: 55), post.user %>
  
  <div class="post_inner">
  <% if signed_in? && current_user?(post.user) %>
    <%= link_to raw('<i class="icon-remove"></i>'), post, class: "pull-right", remote: true, method: "delete", confirm: t(:confirm_delete_message) %>
    <%= link_to raw('<i class="icon-pencil"></i>'), edit_post_path(post), class: "pull-right", remote: true %>
  <% end %>
    
    <span>
      <a href="<%= user_path(post.user) %>">
        <span class="user_username"><%= post.user.username %></span>
      </a>
    </span>
    
    <%= link_to(post, title: post.created_at.to_s(:short), class: "timestamp") do %>
      <time class="timeago" datetime="<%= post.created_at.iso8601 %>">
        <%= t(:posted_message) % { time: time_ago_in_words(post.created_at) } %>
      </time>
    <% end %>
    
    <div class="title"><%= post.title %></div>
    
    <div class="content"><%= format_post(post.content) %></div>
  </div>
  <div class="clear"></div>
</div>
